/* Common styles */
.btn-primary,
.btn-secondary,
.btn-accent {
  @apply inline-block cursor-pointer text-white py-2 px-4 font-bold rounded-3xl transition-colors focus:ring-2;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-dark focus:ring-primary focus:ring-opacity-50;
}

.btn-secondary {
  @apply bg-secondary hover:bg-secondary-dark focus:ring-secondary focus:ring-opacity-50;
}

.btn-accent {
  @apply bg-accent hover:bg-accent-dark focus:ring-accent focus:ring-opacity-50;
}