@layer base {
  @import url('./fonts.pcss');
  @import url('./typography.pcss');
  
  html {
    @apply text-base antialiased bg-gray-100;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
}

@layer components {
  @import url('./buttons.pcss');
}