@layer base {
  h1 {
    @apply text-5xl leading-normal;
  }
  h2 {
    @apply text-3xl leading-snug;
  }
  h3 {
    @apply text-2xl leading-snug;
  }
  h4 {
    @apply text-xl leading-tight;
  }
  h5 {
    @apply text-lg leading-tight;
  }
  h6 {
    @apply text-base;
  }
}